@import "tailwindcss";

@font-face {
  font-family: "Satoshi";
  src: url("./assets/fonts/satoshi/Satoshi-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi";
  src: url("./assets/fonts/satoshi/Satoshi-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi";
  src: url("./assets/fonts/satoshi/Satoshi-Semibold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi";
  src: url("./assets/fonts/satoshi/Satoshi-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GeneralSans";
  src: url("./assets/fonts/general-sans/GeneralSans-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GeneralSans";
  src: url("./assets/fonts/general-sans/GeneralSans-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GeneralSans";
  src: url("./assets/fonts/general-sans/GeneralSans-Semibold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GeneralSans";
  src: url("./assets/fonts/general-sans/GeneralSans-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@theme {
  /* Fonts */
  --font-Satoshi: "Satoshi", sans-serif;
  --font-GeneralSans: "GeneralSans", sans-serif;

  /* Colors */

  /* Primary */
  --color-primary-5: #d4af37;
  --color-primary-10: #dd9427;
  --color-primary-15: #9b681b;

  /* secondary */
  --color-secondary-10: #084929;

  /* neutral */
  --color-neutral-5: #000;
  --color-neutral-10: #1c1c1c;
  --color-neutral-15: #dedede;
  --color-neutral-20: #b0b0b0;
  --color-neutral-25: #0d0d0d;

  /* accent */
  --color-accent-10: #f17556;
  --color-accent-20: #d61349;
  --color-accent-25: #ffcece;
  --color-accent-30: #ae0000;

  --color-background-5: #eddead;
}

button {
  @apply cursor-pointer;
}

@layer components {
  .heading {
    @apply text-2xl font-bold text-center text-neutral-25 font-Satoshi;
    line-height: 2rem;
  }

  @media (min-width: 768px) {
    .heading {
      @apply text-[39px];
      line-height: 2.9375rem;
    }
  }
}