@import "tailwindcss";

@font-face {
  font-family: "Satoshi";
  src: url("./assets/fonts/satoshi/Satoshi-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi";
  src: url("./assets/fonts/satoshi/Satoshi-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi";
  src: url("./assets/fonts/satoshi/Satoshi-Semibold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi";
  src: url("./assets/fonts/satoshi/Satoshi-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GeneralSans";
  src: url("./assets/fonts/general-sans/GeneralSans-Regular.otf")
    format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GeneralSans";
  src: url("./assets/fonts/general-sans/GeneralSans-Medium.otf")
    format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GeneralSans";
  src: url("./assets/fonts/general-sans/GeneralSans-Semibold.otf")
    format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GeneralSans";
  src: url("./assets/fonts/general-sans/GeneralSans-Bold.otf")
    format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@theme {
  /* Fonts */
  --font-Satoshi: "Satoshi", sans-serif;
  --font-GeneralSans: "GeneralSans", sans-serif;

  /* Colors */

  /* Primary */
  --color-primary-5: #d4af37;
  --color-primary-10: #dd9427;
  --color-primary-15: #9b681b;
  --color-primary-20: #DBBD59;

  /* neutral */
  --color-neutral-5: #0d0d0d;
  --color-neutral-10: #4A4A4A;
  --color-neutral-15: #fbf7eb;
  --color-neutral-20: #f4f0e5;

  /* accent */
  --color-accent-10: #f17556;
  --color-accent-20: #d61349;
  --color-accent-25: #ffcece;
  --color-accent-30: #ae0000;

  --color-background-5: #eddead;
}

button {
  @apply cursor-pointer;
}

@layer components {
  .heading {
    @apply text-[28px] md:text-[37px] xl:text-[42px] 2xl:text-[49px] 
           leading-9 md:leading-11.5 xl:leading-13 2xl:leading-14 
           font-semibold text-center text-neutral-5 
           font-Satoshi max-w-250 mx-auto;
  }

  .description {
    @apply text-base md:text-[21px] font-GeneralSans leading-6 md:leading-7.75 text-center max-w-282 mx-auto;
  }
}
